body {
    background-color: #071E22;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, sans-serif;
    margin: 20px;
}

h1, h2 {
    color: #ffd0aa;
    text-shadow: #679289 2px 2px 0;
    margin: 0;
}

p {
    color: #e4dccd;
    margin: 0;
    margin-top: 8px;
}

.box {
    background-color: #1D7874;
    padding: 20px;
    margin-bottom: 20px;
}

#loading-emulator {
    & div {
        color: #ff9393;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        padding: 64px 0;
    }
    margin-bottom: 20px;
}

#emu-display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
#embed-computer {
    width: 100%;
    height: 600px;
}

.dXWpFa_terminalView > div {
    outline: solid 2px #1d7874;
}
.dXWpFa_terminalBar {
    background-color: #679289 !important;
    color: #ffd0aa !important;
    fill: #ffd0aa !important;
}
.dXWpFa_terminalProgress {
    display: none;
}